#add{
    background-color:blue;
    font-size: 30px;
}
#minus{
    background-color:blue;
    font-size: 30px;
}
#reset{
    background-color:blue;
    font-size: 30px;
    text-align: center;
    margin-left: 150px;
    margin-top: 90px;
}
#number{
    margin-left: 190px;
    font-size: 40px;
    margin-top: 10px;
}








